<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mapper.CommentMapper">
  
  	<resultMap type="comment" id="commentMap">
  	
  		<association property="user" column="userId" select="com.mapper.UserMapper.findUserById"/>
  	
  	</resultMap>
  	
  	<select id="getCommentList" resultMap="commentMap">
  	
  		select * from cms_comment where articleId = #{value}
  	
  	</select>
  
  </mapper>
  